<div class="left-nav">
          <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="./index.html">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                
                
                 <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                         商品管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li>
                            <a href="tianjiashangpin.html">
                                <i class="iconfont">&#xe6a7;</i>
                                添加商品
                            </a>
                        </li>
                        <li>
                            <a href="shanchushangpin.html">
                                <i class="iconfont">&#xe6a7;</i>
                                删除商品
                            </a>
                        </li>
                        <li>
                            <a href="shangpinxinxi.html">
                                <i class="iconfont">&#xe6a7;</i>
                                商品信息
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                         修改商品信息
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li class="current">
                            <a href="shangpinshuliang.html">
                                <i class="iconfont">&#xe6a7;</i>
                                商品数量
                            </a>
                        </li>
                        <li>
                            <a href="shangpinjiage.html">
                                <i class="iconfont">&#xe6a7;</i>
                                商品价格
                            </a>
                        </li>
                        <li>
                            <a href="qianggoushumu.html">
                                <i class="iconfont">&#xe6a7;</i>
                                最大抢购数目
                            </a>
                        </li>
                        <li>
                            <a href="shangpinshijian.html">
                                <i class="iconfont">&#xe6a7;</i>
                                抢购时间
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                         个人中心
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li class="current">
                            <a href="gerenxinxi.html">
                                <i class="iconfont">&#xe6a7;</i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="xiugaimima.html">
                                <i class="iconfont">&#xe6a7;</i>
                                修改密码
                            </a>
                        </li>
                    </ul>
                </li>
                
                
               
                
                
            </ul>
          </div>
        </div>